        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s9">
                <h5 class="white-text">Tales</h5>
                <p class="grey-text text-lighten-4">Share your moments and memories.</p>
              </div>
              <div class="col l4 offset-l2 s9">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/tales">Public tales</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About Me</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://radiant-caverns-88942.herokuapp.com/">Idea and Memory creating Website</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017. Tales App. 
            Deployed By Santosh Goteti
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            